.profile-data {
	z-index: 1;
}

.picture {
	background: var(--yellow);
	border-radius: 25px;
	border: 7px solid var(--yellow);
	display: flex;
	flex-shrink: 0;
	height: 350px;
	overflow: hidden;
	width: 230px;
	z-index: 2;

	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}

.list {
	margin: 10px 0 0;
	list-style: none;
	padding: 0;

	.list__row {
		align-items: center;
		display: flex;
		font-size: 20px;
		justify-content: center;
		margin-top: 5px;

		.list__row__checkbox {
			height: 18px;
			margin: 0 0 0 10px;
			width: 18px;
		}
	}
}

.label {
	margin-right: 5px;
	font-weight: bold;
}